body {
  background-image: linear-gradient(10deg, #161b38, #131232, #2e143b);
}
body,
html,
.App {
  margin: 0;
  padding: 0;
}
.game-studio {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 70vh 30vh;
  grid-auto-rows: 0px;
}
