.EventScreen{
  border: 1px solid #6bcdfa;
  border-right: none;
  width: 100%;
}
#laptop{
  height: 100%;
  width: 100%;
}
#laptop > img{
  position: relative;
  left: 150px;
}
#green-screen{
  position: relative;
  left: 283px;
  top:-568px;
  background-color: green;
  width: 895px;
  height: 500px;
  z-index: 10;
}