.EventFlow {
  width: 100%;
  border-top: 1px solid #6bcdfa;
  grid-row-start: 1;
  grid-row-end: 3;
}
.subheader {
  color: #b6b5b5;
  font-weight: 500;
  font-size: 2.125rem;
  text-align: center;
  border-bottom: 1px solid #6bcdfa;
}
.list-mui{
  color: rgba(255,255,255,0.7)
}