.Navbar {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #efefef;
  padding-right: 10px;
}
.button-trans {
  font-family: 'Roboto', sans-serif;
  padding: 10px 20px;
  font-size: 1.75rem;
  border-radius: 1rem;
  background-color: rgba(173, 173, 173, 0.2);
  border: 2px solid #A4488B;
  color: #ADADAD;
  margin: auto 5px;
}
.nav-title {
  font-size: 2.25rem;
  font-weight: 300;
}
.current-time {
  font-size: 1.75rem;
  text-align: right;
  font-weight: 100;
}
