.Settings {
  border-left: 1px solid #6bcdfa;
  width: 100%;
  grid-column-start: 2;
}
.settings-content {
  display: flex;
  text-align: center;
}
.mute-options {
  flex: 1;
  height: 100%;
  max-height: 25vh;
  padding-left: 5px;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.settings-config {
  flex: 2;
  height: 100%;
  max-height: 25vh;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.settings-buttons {
  flex: 1;
  height: 100%;
  max-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  overflow-y: scroll ;
}
.settings-buttons > button {
  margin-top: 5px;
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.settings-buttons svg{
  width:2rem;
  height: 2rem;
}
